
#Python
__pycache__/
*.py[cod]
venv/
.env
.env.example
*.jpg
.coverage

# Java/Maven
target/
*.class
*.jar
*.war
*.ear


# C++
desktop-agent/include/nlohmann/json.hpp
desktop-agent/Testing
.venv
build/
*.exe
*.0
*.so
*.dll


# Node
node_modules/
dist/
 .env.local


# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db