spring:
  application:
    name: postguard
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false


  flyway:
    enabled: true
    baseline-on-migrate: true


server:
  port: ${PORT:8080}
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}