spring:
  application:
    name: postguard
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false


  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}


  flyway:
    enabled: true
    baseline-on-migrate: true


server:
  port: ${PORT:8080}
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}



springdoc:
  api-docs:
    enabled: false
    