spring:
  application:
    name: postguard
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false


  flyway:
    enabled: true


#  data:
#    redis:
#      host: ${REDIS_HOST}
#      port: 6379
server:
  port: 8080
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}