name: CI Pipeline

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:

# Ml Engine Tests
  test-ml:
    name: ML Engine tests
    runs-on: ubuntu-latest
    
    defaults:
      run: 
        working-directory: ./ml-engine

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      
      - name: Run tests
        env:
          PYTHONPATH: .
        run: poetry run pytest


#  Backend JUnit tests
  test-backend:
    name: Backend Tests
    runs-on: ubuntu-latest


    defaults:
      run: 
        working-directory: ./backend
    
    env:
      JWT_SECRET: ${{ secrets.JWT_SECRET }} 
      JWT_EXPIRATION: ${{ secrets.JWT_EXPIRATION }} 
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      
      - name: Run Maven Tests
        run: mvn clean test



  # Frontend Vitest  

  test-frontend:
    name: Frontend Tests
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./frontend
  
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json
      
      - name: Install dependencies
        run: npm ci

      - name: Run Vitest
        run: npm run test -- --run
      
      - name: Build
        run: npm run build